.backgroundImage{
  width: 100%;
  background-color: rgba(435, 324, 32, 0);
  background-image: url('https://png2.kisspng.com/sh/183a09ff9a90a1ee15bf58304bd699db/L0KzQYm3U8I5N5Jxj5H0aYP2gLBuTgdifJZ3e9H1b4KwgLLwjwRqdpgyiAJ1YYPrPbT2jP9zNaR1hNN8aD24cbPpU8EybJY9e6hqMj61SIaBWMQyPWI6SqQ7MUe1RIaCVcM2NqFzf3==/kisspng-watercolor-painting-splash-color-splash-5abb311de8c6a2.2858841515222172459535.png');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.text{
  color: rgb(19, 2, 2);
}