* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Martel Sans', sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 1000px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  scroll-behavior: smooth;
}


